*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;

  --blue: #0000ff;
  --white: #fff;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --font-family: cursive;
}

.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
  --color-months: var(--white)
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--bg-body);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  visibility: visible;
  /* transform: scale(1.25); */
}

.user-input {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

#user-input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

#user-input-btn:hover {
  scale: 1.03;
  transition: 300ms;
}

#user-input-btn img {
  width: 20px;
  height: 20px;
}

#user-input {
  padding: 0.2rem 0.5rem;
}

.light .calendar {
  box-shadow: var(--shadow);
}

.year-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.day-date {
  padding: 10px;
}

.date-title {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.date-title div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}


/*********** Calendar Days ***********/
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div span {
  position: absolute;
}


.calendar-day-hover:hover {
  background-color: var(--color-hover);
  border-radius: 100%;
}

.calendar-day-selected {
  background-color: tomato;
  border-radius: 100%;
  color: var(--white);
  cursor: pointer;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--dark-second);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}


/*********** Month Picker ***********/
#month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#month-picker:hover {
  background-color: var(--color-hover);
}


/*********** Year Picker ***********/
.year-picker {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#previous-year,
#next-year {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

#previous-year:hover,
#next-year:hover {
  background-color: var(--color-hover);
}

.foot {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-mode {
  display: flex;
}

.dark-mode span {
  margin-left: 10px;
  color: var(--color-txt);
}

#dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
  margin-left: 10px;
}

#dark-mode-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark #dark-mode-switch #dark-mode-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.monthList {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  display: grid;
  place-items: center ;
  visibility: hidden;
  color: var(--color-months);
}

.monthList.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

#month {
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  border-radius: 1rem;
}

#month:hover {
  background-color: gray;
  color: white; 
}

@keyframes to-top {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}


#calendar-confirm {
  padding: 0.6rem 1.3rem;
  font-family: var(--font-family);
  background-color: none;
  border: 1px solid var(--bg-second);
  border-radius: 1rem;
  cursor: pointer;
}

#calendar-confirm:hover {
  background-color: tomato;
  border: 1px solid white;
  color: white;
  transition: 300ms;
}
